<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - AresOu.Net</title>
    <link rel="stylesheet" href="/static/css/aresou.css">
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
<!--body starts-->
    <nav class="top-navbar">
        <div class="container-center">
            <a href="/" class="navbar-brand">AresOu.net</a>
            <ul class="navbar-nav">
				<li><a href="/">Blogs</a></li>
				<li><a href="/">Reading</a></li>
            </ul>
        </div>
    </nav>

    <div class="">
        <div class="">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

	<!--Footer starts-->
	<div class="general-footer">
		<div><span>Powered by AresOu.net</span></div>
	</div>