{% extends '__base__.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
	<div class="uk-container-center">
	
		<div name="lefNavBar" class="uk-width-medium-1-4" style="float:left;">
		<div name="menu">
			<ul class="uk-nav">
				<li><i class=""></i> <a target="_top" href="#">Menu1</a></li>
			</ul>
		</div>
		
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">Links</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Programming</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Reading</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python Tutorial</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git Tutorial</a></li>
            </ul>
        </div>
		</div>
		
		<div class="uk-width-medium-2-4" style="float:left;">
			{% for blog in blogs %}
				<article class="uk-article">
					<h2><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
					<p class="uk-article-meta">Posted at {{ blog.created_time|datetime}}</p>
					<p>{{ blog.summary }}</p>
					<p><a href="/blog/{{ blog.id }}">Continue... <i class="uk-icon-angle-double-right"></i></a></p>
				</article>
				<hr class="uk-article-divider">
			{% endfor %}
		</div>
		</div>

	</div>
{% endblock %}